<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>Filter by</h1>
    <a href="{% url 'view-all' %}">All</a>
    <a href="{% url 'view-men' %}">Men</a>
    <a href="{% url 'view-women' %}">Women</a>
    <a href="{% url 'view-unisex' %}">Unisex</a>
    <div>
        {% for item in ade_collection%}
            <p>{{item.eyewear_id}}</p>
            <p>{{item.name}}</p>
            <p>{{item.description}}</p>
            <p>{{item.line}}</p>
            <p>{{item.image}}</p>
            <p>{{item.price}}</p>
            <p>{{item.gender}}</p>
            <p>{{item.promotional_price}}</p>
            <p>{{item.arm_length}}</p>
            <p>{{item.bridge_length}}</p>
            <p>{{item.lens_height}}</p>            
            <p>{{item.lens_width}}</p>
            <div style="border-top: 5px solid green"></div>            
        {% endfor %}
    </div>
</body>

</html>