a{
    color: white;
}
a:hover{
    color: rgb(95, 215, 75);
    text-decoration: underline;
}

/* Main container */
.container{
    padding: 5em 0 5em 0;
}
#header{
    background-color: #232323;
}

/* Footer */

#footer{
    background-color: rgb(95, 215, 75);
    color: white;
    padding-top: 2.5em;
    padding-bottom: .5em;
}
#footer .sm-icon{
    padding: .50em;
}
#footer .sm-icon:hover{
    cursor: pointer;
    color: rgb(110, 140, 70);
}
#footer > #boring{
    background-color: #232323;
}
/*--- Mobile only ---*/



/*---Desktop only --*/
