a{
    color: white;
}
a:hover{
    color: rgb(95, 215, 75);
    text-decoration: underline;
}

/* Main container */
.main-container{
    padding: 5em 0 5em 0;
}
#header{
    background-color: #232323;
}
.black-bg{
    background-color: #000 !important;
  }

/* footer */
.footer .header{
    font-family: 'Lato';
    color: #fff;
    font-weight: 100;
  }
  
   .footer a{
    color: #fff;
  }
  
  .footer .sm-icon{
    padding: .50em;
  }
  .footer .sm-icon:hover{
    cursor: pointer;
    color: rgb(110, 140, 70);
  }
  
  .footer{
    padding-top: 2em !important;
  }
  
  ::placeholder {
    color: grey !important;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey !important;
  }
/*--- Mobile only ---*/



/*---Desktop only --*/
