{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'css/ade_about.css' %}">
    </head>
    
    <body>
        
        <!-- Navigation -->
        <div class="ui sidebar vertical left inverted menu">
            <a class="item"> Home </a>
            <div class="item">
                <div class="header">Collections</div>
                <div class="menu">
                    <a class="item"> Kings Line </a>
                    <a class="item"> Queens Line </a>
                    <a class="item"> Unisex Line </a>
                </div>
            </div>
            <a class="item"> About </a>
            <a class="item"> Contact </a>
            <a class="item"> Terms & Conditions </a>
            <a class="item"> Refund Policy </a>
            <a class="item"> Privacy Statement </a>
        </div>
        <div class="ui inverted icon top fixed menu" style="background-color: #000">
            <a id="toggle" class="item"><i id="sidebar-icon" class="sidebar icon"></i> Menu</a>
            <h1 id="header-title" class="center-text">ADE LUXURY WEAR</h1>
        </div><!-- End Navigation -->
            
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script>
            $('#toggle').on('click', function(){
                $('.ui.sidebar').sidebar('toggle');
            });
        </script>

        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>
</html>