
  body .pusher .full.height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  .logo-size{
  width: 300px; 
  height: 200px;
  }

  .breadcrumb a{
    color: grey !important;
  }

  .ui.table{
    border: none;
  }

  .ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
   background: #fff; 
  }
  .item-detail h1{
    font-family: 'Raleway';
    font-weight: 100;
  }
  .ui.selection.dropdown{
    padding: 0px !important;
  }
  
  .ui.compact.selection.dropdown {
     min-width: 200px;
  }
  
  .black-bg{
    background-color: #000 !important;
  }
  .main-product-container{
    margin-bottom: 200px;
  }

  .main-product-container a{
      color: #000;
  }

  .detail-product-container{
    margin-top: 1.5em;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .thumbnail a :hover{
    border: 1px solid #808e99;
    
  }

   /* footer */
  
   .footer .header{
    font-family: 'Lato';
    color: #fff;
    font-weight: 100;
  }
  
   .footer a{
    color: #fff;
  }
  
  .footer .sm-icon{
    padding: .50em;
  }
  .footer .sm-icon:hover{
    cursor: pointer;
    color: rgb(110, 140, 70);
  }
  
  .footer{
    padding-top: 2em !important;
  }
  
  ::placeholder {
    color: grey !important;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey !important;
  }
  

  .demo {
    width:420px;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}


/* MOBILE STYLES */
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo-size{
      width: 200px; 
      height: 150px;
    }
}
  
  
  
  
  
  
  
  
  
  
  
  
  
      
  
