{% extends 'ade/base_layout.html' %}
{% load static %}


<!--
    TODO:   Make the sortby-price link have a dynamic parameter set to the page's eyewear line, i.e., Unisex.
            Right now, it is hardcoded to the King's Line with KL.
-->

{% block content %}

<!-- Page Contents -->

<div class="full height">

    <div class="ui container detail-product-container">

        <div class="ui breadcrumb">
            <a href="{% url 'index' %}" class="section">HOME</a>
            <i class="right angle icon divider"></i>
            <a  href="" id="gender-breadcrumb" class="section">{% for item in ade_collection_item %}{{ item.gender }}{% endfor %}</a>
            <i class="right angle icon divider"></i>
            <div class="active section uppercase">{% for item in ade_collection_item %}{{ item.name }}{% endfor %}</div>
        </div>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c024fa5ab749d10"></script>


        <div>
            {% for item in ade_collection_item %}
            <div>
                <div class="flexslider">
                    <ul class="slides">
                    <li data-thumb="https://cdn.shopify.com/s/files/1/0898/5824/products/Quay_Nordstrom_FrenchKiss_TortGold_Front_1024x1024.jpg?v=1541540420">
                        <img src="https://cdn.shopify.com/s/files/1/0898/5824/products/Quay_Nordstrom_FrenchKiss_TortGold_Front_1024x1024.jpg?v=1541540420">
                    </li>
                    <li data-thumb="https://cdn.shopify.com/s/files/1/0898/5824/products/Quay_Nordstrom_FrenchKiss_TortGold_Side_1024x1024.jpg?v=1541540420">
                        <img src="https://cdn.shopify.com/s/files/1/0898/5824/products/Quay_Nordstrom_FrenchKiss_TortGold_Side_1024x1024.jpg?v=1541540420">
                    </li>
                    <li data-thumb="https://cdn.shopify.com/s/files/1/0898/5824/products/QUAY_FRENCHKISS_BLACK_SMOKE_FRONT_1024x1024.jpg?v=1541540420">
                        <img src="https://cdn.shopify.com/s/files/1/0898/5824/products/QUAY_FRENCHKISS_BLACK_SMOKE_FRONT_1024x1024.jpg?v=1541540420">
                    </li>
                    <li data-thumb="https://cdn.shopify.com/s/files/1/0898/5824/products/QUAY_FRENCH_KISS_BLACK_SMOKE_SIDE_1024x1024.jpg?v=1541540420">
                        <img src="https://cdn.shopify.com/s/files/1/0898/5824/products/QUAY_FRENCH_KISS_BLACK_SMOKE_SIDE_1024x1024.jpg?v=1541540420">
                    </li>
                    </ul>

                </div>


                <div>
                    <h2 class="ui left floated uppercase">{{ item.name }}</h2>
                    <div class="ui clearing divider"></div>
                    <p></p>
                </div>


                
            </div>
            
            
            <h4 class="ui horizontal divider header"></h4>

            <div class="ui stackable two column grid">
                <div class="four wide column">
                    <ul>
                        <li>100% UV400 Protection</li>
                        <li>Optical Quality Hinges</li>
                        <li>Metal Frame & Stainless Steel Bridge</li>
                        <li>Polycarbonate Lenses</li>
                    </ul> 
                </div>

                <div class="twelve wide column">
                    <table class="ui definition table" style="float: right">
                        <tbody>
                            <tr>
                                <td class="two wide column">Arm Length</td>
                                <td>{{ item.arm_length }}</td>
                            </tr>
                            <tr>
                                <td class="three wide column">Bridge Length</td>
                                <td>{{ item.bridge_length }}</td>
                            </tr>
                            <tr>
                                <td class="two wide column">Lens Height</td>
                                <td>{{ item.lens_height }}</td>
                            </tr>
                            <tr>
                                <td class="two wide column">Lens Width</td>
                                <td>{{ item.lens_width }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
           
                        
          
            <button class="ui huge black standard right floated black button" style="margin-bottom: 50px">${{ item.price }} | ADD TO CART</button>    
                
            {% endfor %}
        </div>

    </div>


</div>


{% endblock %}












   
