{% extends 'ade/base_layout.html' %}
{% load static %}


<!--
    TODO:   Make the sortby-price link have a dynamic parameter set to the page's eyewear line, i.e., Unisex.
            Right now, it is hardcoded to the King's Line with KL.
-->

{% block content %}

<!-- Page Contents -->

<div class="full height">

    <div class="ui vertical center aligned basic segment ">
        <h1 class="line-name">
            {% if collection == "all" %}ADE collection{% endif %}            
            {% if collection == "KL" %}Kings Line{% endif %}
            {% if collection == "QL" %}Queens Line{% endif %}
            {% if collection == "UL" %}Unisex Line{% endif %}
        </h1>
    </div> 


    <div class="ui vertical center aligned basic segment drop-dn">
        Filter
        <select id="gender-filter" class="ui inline selection compact dropdown filter-tag" style="margin-right: 5em">
            <option disabled="disabled" selected="selected">Pick an option</option>
            <option value="{% url 'collection__all' %}">All</option>
            <option value="{% url 'collection__men' %}">Men</option>
            <option value="{% url 'collection__women' %}">Women</option>
            <option value="{% url 'collection__unisex' %}">Unisex</option>

        </select>

        Sort by  
        <select class="ui inline selection compact dropdown filter-tag">
            <option disabled selected>Pick an option</option>
            <option value="/products/{{ collection }}/priority__low-price">Price: lowest first</option>
            <option value="/products/{{ collection }}/priority__high-price">Price: highest first</option>
        </select>

    </div>
    
 

    <div class="ui container main-product-container">
        <div class="ui middle aligned double stackable grid">
            <div class="row">
            {% for item in ade_collection %}
                <div class="four wide column">
                    <a href="{% url 'collection__detail' item.eyewear_id %}"><img class="ui medium centered  image" src="/static/products/img/{{ item.image }}"></a>
                    <div class="ui center aligned basic segment">
                        <a href="{% url 'collection__detail' item.eyewear_id %}">{{ item.name }}</a>
                        <a href="{% url 'collection__detail' item.eyewear_id %}"><p>$ {{ item.price }}</p><br></a>

                    
                        <!--<div class="ui button add-to-cart-btn">
                            <i class="shop icon"></i> Add to Cart
                        </div>-->
                    </div>
                    
                </div>

            {% endfor %}

               

            </div>
        </div>

    </div>
    
</div>


{% endblock %}